// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.field, .actions {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type="submit"] {
  padding: 1px 6px;
}